.o-header{
    &__left{
        
    }
    &__title {
        margin-top: 250px;
        font-size: 88px;
    }
    &__sub-title{
        font-size: 20px;
        &--margin{
            margin-bottom: 150px;
        }
    }
}
