.o-two-container{
    &__title{
        margin-top: 80px;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 30px;
        &::before{
            content: '/';
            color: $red;
            font-size: 50px;
        }
    }
    &__sub-title{
        font-size: 32px;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 20px;
        margin-bottom: 30px;
    }
    &__btn{
        width: fit-content;
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding: 15px 50px;
    }
    &__img-wrapper{
        position: relative;
    }
    &__right{
        
        padding: 0;
    }
    &__img{
        top: 100px;
        left: -40px;
        position: absolute;
        box-shadow: 40px 40px 0px rgba($color: #000000, $alpha: 0.3)
    }
    &__map{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        margin: 0 -15px;
        background-repeat: no-repeat;
    }
}