.o-contact-form{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    .row{
        width: 40vw;
        margin-left: -100px;
        padding: 30px 85px;
    }
    &__input{
        margin-bottom: 20px;
        font-size: 20px;
        width: 100%;
        padding-bottom: 5px;
        border: 0;
        border-bottom: 2px solid $grey;
    }
    &__textarea{
        border: 2px solid $grey;
        font-size: 20px;
        padding:20px  10px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__btn{
        font-size: 20px;
        width: 180px;
        height: 60px;
        line-height: 60px;
        text-align: center;
    }
}