.o-sticky-nav{
    z-index: 1000;
    top: 20px;
    position: fixed;
    &__items-wrapper{
        padding: 0;
    }
    &__logo-wrapper{
        text-align: center;
        line-height: 78px;
    }
    &__img{
        max-width: 100%;
        height: 70px;
    }
    &__link{
        display: inline-block;
        height: 100%;
        font-size: 20px;
        height: 78px;
        line-height: 78px;
        padding: 0 35px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        &:hover{
            background-color: $red;
            color: white;
            text-decoration: none;
        }
    }
}