.o-offer{
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    &__item{
        position: relative;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
        &:hover .c-offer__desc{
            bottom: calc(50% - 50px);
            transition: 0.5s;
        }
    }
    &__desc-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;left: 0;right: 0;bottom: 0;
        transition: 0.5s;
    }
    &__desc{
        padding: 20px;
        font-size: 30px;
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 30px;
        width: calc(100% - 60px);
        transition: 0.5s;
    }
}