.o-footer{
    padding: 40px 0;
    &__create-by{
        height: 100%;
        position: relative;
        img{
            position: absolute;
            bottom: 20px;
            height: 15px;;
            right: 20px;
        }
    }
    &__about{
        img{
            height: 33px;
        }
        color: #909090;
        font-size: 15px;
    }
    &__contact{
        font-size: 15px;
        color: white;
    }
}