@include media-breakpoint-between(xs, sm) {
    .o-contact-form__input{
        font-size: 15px;
    }
    .o-contact-form .row{
        width: 100%;
        margin-left: 0;
        padding: 30px;
    }
    .o-contact-form__textarea{
        font-size: 15px;
    }
    .o-footer{
        text-align: center;
    }
    .c-nav-top__items-wrapper{
        display: none;
    }
    .o-offer{
        padding: 0 50px;
    }
    .c-header-main__title{
        font-size: 56px;
        text-align: center;
    }
    .c-header-main__sub-title{
        font-size: 16px;
        text-align: center;
    }
    .c-about__right{
        display: none;
    }
    .c-opinions__title{
        font-size: 30px;
    }
    .c-opinions__content{
        font-size: 16px;
    }
    .c-opinions__author{
        font-size: 16px;
    }
    .o-two-container__btn{
        width: 100%;
        text-align: center;
    }
    .o-offer__desc{
        font-size: 20px;
        text-align: center;
    }
    .o-footer__create-by img{
        position: initial;
    }
    .o-contact-form__btn{
        width: 100%;
        text-align: center;
    }
}
@include media-breakpoint-between(sm, md) {
    .o-contact-form__btn{
        width: 100%;
        text-align: center;
    }
    .o-contact-form__input{
        font-size: 15px;
    }
    .o-contact-form .row{
        width: 100%;
        margin-left: 0;
        padding: 30px;
    }
    .o-contact-form__textarea{
        font-size: 15px;
    }
    .o-footer{
        text-align: center;
    }
    .o-footer__create-by img{
        position: initial;
    }
    .c-nav-top__items-wrapper{
        text-align: center;
    }
    .c-nav-top__link{
        font-size: 16px;
        padding: 0 10px;
    }
    .c-about__right{
        display: none;
    }
    .o-offer__desc{
        font-size: 20px;
        text-align: center;
    }
}
@include media-breakpoint-between(md, lg) {
    .o-contact-form__input{
        font-size: 15px;
    }
    .o-contact-form__textarea{
        font-size: 15px;
    }
    .c-nav-top__items-wrapper{
        text-align: center;
    }
    .c-nav-top__link{
        font-size: 16px;
        padding: 0 20px;
    }
    .o-offer__desc{
        font-size: 20px;
        text-align: center;
    }
}
@include media-breakpoint-between(lg, xl) {
    // your code
}