.c-opinions{
    padding-bottom: 100px;
    &__wrapper{
        padding: 25px 0;
    }
    &__quotes{
        margin-top: -100px;
        color: $grey;
        font-size: 200px;
        text-align: center;
        color: $grey;
    }
    &__title{
        text-align: center;
        font-size: 40px;
    }
    &__content{
        margin-top: 30px;
        font-size: 20px;
        text-align: center;
        color: $grey;
    }
    &__author{
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
        color: $grey;
    }
    &__name{
        color: black;
    }
    &__btn{
        color: black;
        font-size: 30px;
    }
    .slick-prev{
        left: - 100px;
        &::before{
            content: "⟨";
            color: $red;
            font-size: 80px;
        }
    }
    .slick-next{
        right: -100px;
        &::before{
            content: "⟩";
            color: $red;
            font-size: 80px;
        }
    }
}