.c-about{
 
    &__important-text{
        color: $red;
        font-weight: 400;
    }
    &__btn{
        background-color: $red;
        color: white;
        &:hover{
            opacity: 0.9;
            color: white;
            text-decoration: none;
        }
    }
    &__right{
        background-color: $red;
    }
}