.c-contact-form{
    background-color: white;
    box-shadow: 0px 40px 0 rgba(0,0,0,.3);
    .row{
        background-color: white;
    }
    &__input{
        color: black;
        &:active, &:focus{
            color: $red;
            border-bottom-color: $red;
        }
    }
    &__btn{
        color: white;
        background-color: $red;
        &:hover{
            opacity: 0.8;
        }
    }
    &__textarea{
        box-sizing: border-box;
    }
}