.c-offer{
    &__item{
        &:hover .c-offer__desc-wrapper{
            background-color: rgba($color: $red, $alpha: 0.6);
            transition: 0.5s;
        }
    }
    &__desc-wrapper{
        background-color: rgba($color: $red, $alpha: 0.0);
    }
    &__desc{
        color: white;
        background-color: $red;
    }
}