.c-header-main {
    &__left-container {
        background-color: $red;
        background-image: url('../images/header-bg-dotted.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    &__right-container{
        background-image: url('../images/header-img-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__title {
        color: white;
        font-weight: 300;
    }
    &__sub-title{
        color: white;
    }

}